
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    width: 80%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 5px;
    text-align: center;
}

.slider-container {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

.drag-drop-container {
    margin-top: 20px;
    width: 80%;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #fafafa;
}

.drag-drop-container p {
    font-size: 16px;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.image-preview div {
    margin: 10px;
    text-align: center;
}

.image-preview img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
}

.name-input {
    width: 30px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}